@model TaskManager.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2>Register</h2>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="mb-3">
                @Html.LabelFor(m => m.FullName, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger small" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Email, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autocomplete = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger small" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Department, new { @class = "form-label" })
                @Html.TextBoxFor(m => m.Department, new { @class = "form-control" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "new-password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger small" })
            </div>
            <div class="mb-3">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "new-password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger small" })
            </div>
            <button type="submit" class="btn btn-primary">Create account</button>
        }
    </div>
</div>
